

<div class="modal fade" id="@idName" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">@ModalTitle</h1>
            </div>
            <div class="modal-body d-grid gap-3">
                <div class="p-2 border-red">
                    <span>@Report.ReportedBy</span>
                </div>
                <div class="p-2 border-red">
                    <span>@Report.Type</span>
                </div>
                @* <div class="p-2 border-red">
                    <span>@Report.PostId</span>
                </div> *@
                <div class="p-2 border-red">
                    <span>@Report.Date</span>
                </div>
                <div class="p-2 border-red">
                    <span>@Report.Status</span>
                </div>
            </div>
            @* <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> *@
        </div>
    </div>
</div>

@code {
    [Parameter] public string idName { get; set; }
    [Parameter] public string ModalTitle { get; set; }
    [Parameter] public Report Report { get; set; }
}